In [0]:
spark

In [0]:
from pyspark.sql import SparkSession

#Create session
spark = SparkSession.builder.appName("IPL DATA ANALYSIS").getOrCreate()

In [0]:
spark

In [0]:
# Set AWS credentials if AWS S3 bucket is not publicly accessible
spark._jsc.hadoopConfiguration().set("fs.s3a.access.key", "your_access_key")
spark._jsc.hadoopConfiguration().set("fs.s3a.secret.key", "your_secret_key")

In [0]:
#Import packages to build the schema (Recommened as inferSchema may not get accurate data type)
from pyspark.sql.types import StructType, StructField, IntegerType, BooleanType, DateType, StringType, DecimalType

In [0]:
#Create the schema for ball_by_ball data
ball_by_ball_schema = StructType([
    StructField("match_id",IntegerType(),True),
    StructField("over_id",IntegerType(),True),
    StructField("ball_id",IntegerType(),True),
    StructField("innings_no", IntegerType(), True),
    StructField("team_batting", StringType(), True),
    StructField("team_bowling", StringType(), True),
    StructField("striker_batting_position", IntegerType(), True),
    StructField("extra_type", StringType(), True),
    StructField("runs_scored", IntegerType(), True),
    StructField("extra_runs", IntegerType(), True),
    StructField("wides", IntegerType(), True),
    StructField("legbyes", IntegerType(), True),
    StructField("byes", IntegerType(), True),
    StructField("noballs", IntegerType(), True),
    StructField("penalty", IntegerType(), True),
    StructField("bowler_extras", IntegerType(), True),
    StructField("out_type", StringType(), True),
    StructField("caught", BooleanType(), True),
    StructField("bowled", BooleanType(), True),
    StructField("run_out", BooleanType(), True),
    StructField("lbw", BooleanType(), True),
    StructField("retired_hurt", BooleanType(), True),
    StructField("stumped", BooleanType(), True),
    StructField("caught_and_bowled", BooleanType(), True),
    StructField("hit_wicket", BooleanType(), True),
    StructField("obstructingfeild", BooleanType(), True),
    StructField("bowler_wicket", BooleanType(), True),
    StructField("match_date", DateType(), True),
    StructField("season", IntegerType(), True),
    StructField("striker", IntegerType(), True),
    StructField("non_striker", IntegerType(), True),
    StructField("bowler", IntegerType(), True),
    StructField("player_out", IntegerType(), True),
    StructField("fielders", IntegerType(), True),
    StructField("striker_match_sk", IntegerType(), True),
    StructField("strikersk", IntegerType(), True),
    StructField("nonstriker_match_sk", IntegerType(), True),
    StructField("nonstriker_sk", IntegerType(), True),
    StructField("fielder_match_sk", IntegerType(), True),
    StructField("fielder_sk", IntegerType(), True),
    StructField("bowler_match_sk", IntegerType(), True),
    StructField("bowler_sk", IntegerType(), True),
    StructField("playerout_match_sk", IntegerType(), True),
    StructField("battingteam_sk", IntegerType(), True),
    StructField("bowlingteam_sk", IntegerType(), True),
    StructField("keeper_catch", BooleanType(), True),
    StructField("player_out_sk", IntegerType(), True),
    StructField("matchdatesk", DateType(), True)
])

#Read the data with above schema
ball_by_ball_df = spark.read.schema(ball_by_ball_schema).format('csv').option("header","true").load("s3://atish-ipl-data-analysis/raghu543_ipl-data-till-2017/2025-09-07/ball_by_ball.csv")

In [0]:
ball_by_ball_df.show(5)

+--------+-------+-------+----------+------------+------------+------------------------+----------+-----------+----------+-----+-------+----+-------+-------+-------------+--------------+------+------+-------+-----+------------+-------+-----------------+----------+----------------+-------------+----------+------+-------+-----------+------+----------+--------+----------------+---------+-------------------+-------------+----------------+----------+---------------+---------+------------------+--------------+--------------+------------+-------------+-----------+
|match_id|over_id|ball_id|innings_no|team_batting|team_bowling|striker_batting_position|extra_type|runs_scored|extra_runs|wides|legbyes|byes|noballs|penalty|bowler_extras|      out_type|caught|bowled|run_out|  lbw|retired_hurt|stumped|caught_and_bowled|hit_wicket|obstructingfeild|bowler_wicket|match_date|season|striker|non_striker|bowler|player_out|fielders|striker_match_sk|strikersk|nonstriker_match_sk|nonstriker_sk|fielder_match_sk|fielder_sk|bowler_match_sk|bowler_sk|playerout_match_sk|battingteam_sk|bowlingteam_sk|keeper_catch|player_out_sk|matchdatesk|
+--------+-------+-------+----------+------------+------------+------------------------+----------+-----------+----------+-----+-------+----+-------+-------+-------------+--------------+------+------+-------+-----+------------+-------+-----------------+----------+----------------+-------------+----------+------+-------+-----------+------+----------+--------+----------------+---------+-------------------+-------------+----------------+----------+---------------+---------+------------------+--------------+--------------+------------+-------------+-----------+
|  598028|     15|      6|         1|           5|           2|                    NULL| No Extras|          4|         0|    0|      0|   0|      0|      0|            0|Not Applicable| false| false|  false|false|       false|  false|            false|     false|           false|        false|2013-04-20|  2013|    277|        104|    83|      NULL|    NULL|           20336|      276|              20333|          103|              -1|        -1|          20343|       82|                -1|             4|             1|       false|            0| 2013-04-20|
|  598028|     14|      1|         1|           5|           2|                    NULL| No Extras|          1|         0|    0|      0|   0|      0|      0|            0|Not Applicable| false| false|  false|false|       false|  false|            false|     false|           false|        false|2013-04-20|  2013|    104|          6|   346|      NULL|    NULL|           20333|      103|              20328|            5|              -1|        -1|          20348|      345|                -1|             4|             1|       false|            0| 2013-04-20|
|  598028|     14|      2|         1|           5|           2|                    NULL| No Extras|          1|         0|    0|      0|   0|      0|      0|            0|Not Applicable| false| false|  false|false|       false|  false|            false|     false|           false|        false|2013-04-20|  2013|      6|        104|   346|      NULL|    NULL|           20328|        5|              20333|          103|              -1|        -1|          20348|      345|                -1|             4|             1|       false|            0| 2013-04-20|
|  598028|     14|      3|         1|           5|           2|                    NULL| No Extras|          1|         0|    0|      0|   0|      0|      0|            0|Not Applicable| false| false|  false|false|       false|  false|            false|     false|           false|        false|2013-04-20|  2013|    104|          6|   346|      NULL|    NULL|           20333|      103|              20328|            5|              -1|        -1|          20348|      345|                -1|             4|             1|       false|            0| 2013-04-20|
|  598028|     14|      4|         1|           5|           2|                    NULL| No Extras|          0|         0|    0|      0|   0|      0|      0|            0|Not Applicable| false| false|  false|false|       false|  false|            false|     false|           false|        false|2013-04-20|  2013|      6|        104|   346|      NULL|    NULL|           20328|        5|              20333|          103|              -1|        -1|          20348|      345|                -1|             4|             1|       false|            0| 2013-04-20|
+--------+-------+-------+----------+------------+------------+------------------------+----------+-----------+----------+-----+-------+----+-------+-------+-------------+--------------+------+------+-------+-----+------------+-------+-----------------+----------+----------------+-------------+----------+------+-------+-----------+------+----------+--------+----------------+---------+-------------------+-------------+----------------+----------+---------------+---------+------------------+--------------+--------------+------------+-------------+-----------+
only showing top 5 rows

In [0]:
match_schema = StructType([
    StructField("match_sk",IntegerType(),True),
    StructField("match_id", IntegerType(), True),
    StructField("team1", StringType(), True),
    StructField("team2", StringType(), True),
    StructField("match_date", DateType(), True),
    StructField("season_year", IntegerType(), True),
    StructField("venue_name", StringType(), True),
    StructField("city_name", StringType(), True),
    StructField("country_name", StringType(), True),
    StructField("toss_winner", StringType(), True),
    StructField("match_winner", StringType(), True),
    StructField("toss_name", StringType(), True),
    StructField("win_type", StringType(), True),
    StructField("outcome_type", StringType(), True),
    StructField("manofmach", StringType(), True),
    StructField("win_margin", IntegerType(), True),
    StructField("country_id", IntegerType(), True)
])

#Read match data
match_df = spark.read.schema(match_schema).format('csv').option("header","true").load("s3://atish-ipl-data-analysis/raghu543_ipl-data-till-2017/2025-09-07/match.csv")

In [0]:
player_schema = StructType([
    StructField("player_sk", IntegerType(), True),
    StructField("player_id", IntegerType(), True),
    StructField("player_name", StringType(), True),
    StructField("dob", DateType(), True),
    StructField("batting_hand", StringType(), True),
    StructField("bowling_skill", StringType(), True),
    StructField("country_name", StringType(), True)
])

player_df = spark.read.schema(player_schema).format("csv").option("header","true").load("s3://atish-ipl-data-analysis/raghu543_ipl-data-till-2017/2025-09-07/player.csv")

player_df.show(5)

+---------+---------+---------------+----------+--------------+------------------+------------+
|player_sk|player_id|    player_name|       dob|  batting_hand|     bowling_skill|country_name|
+---------+---------+---------------+----------+--------------+------------------+------------+
|        0|        1|     SC Ganguly|1972-07-08| Left-hand bat|  Right-arm medium|       India|
|        1|        2|    BB McCullum|1981-09-27|Right-hand bat|  Right-arm medium| New Zealand|
|        2|        3|     RT Ponting|1974-12-19|Right-hand bat|  Right-arm medium|   Australia|
|        3|        4|      DJ Hussey|1977-07-15|Right-hand bat|Right-arm offbreak|   Australia|
|        4|        5|Mohammad Hafeez|1980-10-17|Right-hand bat|Right-arm offbreak|    Pakistan|
+---------+---------+---------------+----------+--------------+------------------+------------+
only showing top 5 rows

In [0]:
player_match_schema = StructType([
    StructField("player_match_sk", IntegerType(), True),
    StructField("playermatch_key", DecimalType(), True),
    StructField("match_id", IntegerType(), True),
    StructField("player_id", IntegerType(), True),
    StructField("player_name", StringType(), True),
    StructField("dob", DateType(), True),
    StructField("batting_hand", StringType(), True),
    StructField("bowling_skill", StringType(), True),
    StructField("country_name", StringType(), True),
    StructField("role_desc", StringType(), True),
    StructField("player_team", StringType(), True),
    StructField("opposit_team", StringType(), True),
    StructField("season_year", IntegerType(), True),
    StructField("is_manofthematch", BooleanType(), True),
    StructField("age_as_on_match", IntegerType(), True),
    StructField("isplayers_team_won", BooleanType(), True),
    StructField("batting_status", StringType(), True),
    StructField("bowling_status", StringType(), True),
    StructField("player_captain", StringType(), True),
    StructField("opposit_captain", StringType(), True),
    StructField("player_keeper", StringType(), True),
    StructField("opposit_keeper", StringType(), True)
])

player_match_df = spark.read.schema(player_match_schema).format("csv").option("header","true").load("s3://atish-ipl-data-analysis/raghu543_ipl-data-till-2017/2025-09-07/player_match.csv")

In [0]:
team_schema = StructType([
    StructField("team_sk", IntegerType(), True),
    StructField("team_id", IntegerType(), True),
    StructField("team_name", StringType(), True)
])

team_df = spark.read.schema(team_schema).format("csv").option("header","true").load("s3://atish-ipl-data-analysis/raghu543_ipl-data-till-2017/2025-09-07/team.csv")

In [0]:
#Transformation Logic
from pyspark.sql.functions import *

#Filter: exclude the delveries with extras(wides and no balls)
ball_by_ball_no_extras_df = ball_by_ball_df.filter(((col("wides")) == 0) & ((col("noballs")) == 0))

#Aggregation: Calcuate the total and average runs scored per match and innings
total_and_avg_runs = ball_by_ball_df.groupBy("match_id","innings_no").agg(
    sum("runs_scored").alias("total_runs"),
    avg("runs_scored").alias("avg_runs"),
).orderBy("match_id","innings_no")

In [0]:
#Window Function
from pyspark.sql.window import Window

#Calcualte the running total of runs in each match per over
#Create a window for each match and innings on over
windowspec = Window.partitionBy("match_id","innings_no").orderBy("over_id")

#add new column of running_totals in df
ball_by_ball_df = ball_by_ball_df.withColumn(
                                                "running_total",sum("runs_scored").over(windowspec)
                                             )

In [0]:
#Conditional Column:
#Flag an high impact delivery such as wicket ball or with more than six runs scored
ball_by_ball_df = ball_by_ball_df.withColumn(
                                                "high_impact",
                                                when(
                                                    ((col("runs_scored") + col("extra_runs")) >= 6) | (col("bowler_wicket")== True), True).otherwise(False)
)

In [0]:
ball_by_ball_df.show(5)

+--------+-------+-------+----------+------------+------------+------------------------+----------+-----------+----------+-----+-------+----+-------+-------+-------------+--------------+------+------+-------+-----+------------+-------+-----------------+----------+----------------+-------------+----------+------+-------+-----------+------+----------+--------+----------------+---------+-------------------+-------------+----------------+----------+---------------+---------+------------------+--------------+--------------+------------+-------------+-----------+-------------+-----------+
|match_id|over_id|ball_id|innings_no|team_batting|team_bowling|striker_batting_position|extra_type|runs_scored|extra_runs|wides|legbyes|byes|noballs|penalty|bowler_extras|      out_type|caught|bowled|run_out|  lbw|retired_hurt|stumped|caught_and_bowled|hit_wicket|obstructingfeild|bowler_wicket|match_date|season|striker|non_striker|bowler|player_out|fielders|striker_match_sk|strikersk|nonstriker_match_sk|nonstriker_sk|fielder_match_sk|fielder_sk|bowler_match_sk|bowler_sk|playerout_match_sk|battingteam_sk|bowlingteam_sk|keeper_catch|player_out_sk|matchdatesk|running_total|high_impact|
+--------+-------+-------+----------+------------+------------+------------------------+----------+-----------+----------+-----+-------+----+-------+-------+-------------+--------------+------+------+-------+-----+------------+-------+-----------------+----------+----------------+-------------+----------+------+-------+-----------+------+----------+--------+----------------+---------+-------------------+-------------+----------------+----------+---------------+---------+------------------+--------------+--------------+------------+-------------+-----------+-------------+-----------+
|  335987|      1|      1|         1|           1|           2|                    NULL|   legbyes|          0|         1|    0|      1|   0|      0|      0|            0|Not Applicable| false| false|  false|false|       false|  false|            false|     false|           false|        false|2008-04-18|  2008|      1|          2|    14|      NULL|    NULL|           12705|        0|              12706|            1|              -1|        -1|          12702|       13|                -1|             0|             1|       false|            0| 2008-04-18|            0|      false|
|  335987|      1|      2|         1|           1|           2|                    NULL| No Extras|          0|         0|    0|      0|   0|      0|      0|            0|Not Applicable| false| false|  false|false|       false|  false|            false|     false|           false|        false|2008-04-18|  2008|      2|          1|    14|      NULL|    NULL|           12706|        1|              12705|            0|              -1|        -1|          12702|       13|                -1|             0|             1|       false|            0| 2008-04-18|            0|      false|
|  335987|      1|      3|         1|           1|           2|                    NULL|     wides|          0|         1|    1|      0|   0|      0|      0|            1|Not Applicable| false| false|  false|false|       false|  false|            false|     false|           false|        false|2008-04-18|  2008|      2|          1|    14|      NULL|    NULL|           12706|        1|              12705|            0|              -1|        -1|          12702|       13|                -1|             0|             1|       false|            0| 2008-04-18|            0|      false|
|  335987|      1|      4|         1|           1|           2|                    NULL| No Extras|          0|         0|    0|      0|   0|      0|      0|            0|Not Applicable| false| false|  false|false|       false|  false|            false|     false|           false|        false|2008-04-18|  2008|      2|          1|    14|      NULL|    NULL|           12706|        1|              12705|            0|              -1|        -1|          12702|       13|                -1|             0|             1|       false|            0| 2008-04-18|            0|      false|
|  335987|      1|      5|         1|           1|           2|                    NULL| No Extras|          0|         0|    0|      0|   0|      0|      0|            0|Not Applicable| false| false|  false|false|       false|  false|            false|     false|           false|        false|2008-04-18|  2008|      2|          1|    14|      NULL|    NULL|           12706|        1|              12705|            0|              -1|        -1|          12702|       13|                -1|             0|             1|       false|            0| 2008-04-18|            0|      false|
+--------+-------+-------+----------+------------+------------+------------------------+----------+-----------+----------+-----+-------+----+-------+-------+-------------+--------------+------+------+-------+-----+------------+-------+-----------------+----------+----------------+-------------+----------+------+-------+-----------+------+----------+--------+----------------+---------+-------------------+-------------+----------------+----------+---------------+---------+------------------+--------------+--------------+------------+-------------+-----------+-------------+-----------+
only showing top 5 rows

In [0]:
#Transformation on match_df
#Extracting year, month and dayofmonth from match_date
match_df = match_df.withColumn("year",year("match_date"))
match_df = match_df.withColumn("month",month("match_date"))
match_df = match_df.withColumn("day",dayofmonth("match_date"))

#Categorizing the win_margin
match_df = match_df.withColumn(
            "win_margin_category",
            when(
                (col("win_margin") >= 100),"High"
            )
            .when(
                (col("win_margin")>=50) & (col("win_margin") < 100),"Medium"
            )
            .otherwise("Low")
)

#Analyzing whether toss winner is the match winner
match_df = match_df.withColumn(
                "toss_match_winner",
                when(
                    col("toss_winner")==col("match_winner"),"True"
                )
                .otherwise("False")
)

match_df.show(5)

+--------+--------+--------------------+--------------------+----------+-----------+--------------------+----------+------------+--------------------+--------------------+---------+--------+------------+-----------+----------+----------+----+-----+---+-------------------+-----------------+
|match_sk|match_id|               team1|               team2|match_date|season_year|          venue_name| city_name|country_name|         toss_winner|        match_winner|toss_name|win_type|outcome_type|  manofmach|win_margin|country_id|year|month|day|win_margin_category|toss_match_winner|
+--------+--------+--------------------+--------------------+----------+-----------+--------------------+----------+------------+--------------------+--------------------+---------+--------+------------+-----------+----------+----------+----+-----+---+-------------------+-----------------+
|       0|  335987|Royal Challengers...|Kolkata Knight Ri...|2008-04-18|       2008|M Chinnaswamy Sta...| Bangalore|       India|Royal Challengers...|Kolkata Knight Ri...|    field|    runs|      Result|BB McCullum|      NULL|         1|2008|    4| 18|                Low|            False|
|       1|  335988|     Kings XI Punjab| Chennai Super Kings|2008-04-19|       2008|Punjab Cricket As...|Chandigarh|       India| Chennai Super Kings| Chennai Super Kings|      bat|    runs|      Result| MEK Hussey|      NULL|         1|2008|    4| 19|                Low|             True|
|       2|  335989|    Delhi Daredevils|    Rajasthan Royals|2008-04-19|       2008|    Feroz Shah Kotla|     Delhi|       India|    Rajasthan Royals|    Delhi Daredevils|      bat| wickets|      Result|MF Maharoof|      NULL|         1|2008|    4| 19|                Low|            False|
|       3|  335990|      Mumbai Indians|Royal Challengers...|2008-04-20|       2008|    Wankhede Stadium|    Mumbai|       India|      Mumbai Indians|Royal Challengers...|      bat| wickets|      Result| MV Boucher|      NULL|         1|2008|    4| 20|                Low|            False|
|       4|  335991|Kolkata Knight Ri...|     Deccan Chargers|2008-04-20|       2008|        Eden Gardens|   Kolkata|       India|     Deccan Chargers|Kolkata Knight Ri...|      bat| wickets|      Result|  DJ Hussey|      NULL|         1|2008|    4| 20|                Low|            False|
+--------+--------+--------------------+--------------------+----------+-----------+--------------------+----------+------------+--------------------+--------------------+---------+--------+------------+-----------+----------+----------+----+-----+---+-------------------+-----------------+
only showing top 5 rows

In [0]:
#Transformation on player_df

#Normalizing and clean player names
#player_df = player_df.withColumn(
#                        "player_name",lower(regexp_replace("player_name", "[^a-zA-Z0-9]", ""))    
#)

#Fill Null Values
player_df = player_df.na.fill(
                        {"batting_hand":"unknown","bowling_skill":"unknown"}
)

#Categorizing the player by cleaning batting_hand column and creating batting_style
player_df = player_df.withColumn(
                        "batting_style",
                        when(
                            lower(col("batting_hand")).contains("left"),"Left-Handed"
                        )
                        .otherwise("Right-Handed")
)

player_df.show(5)

+---------+---------+---------------+----------+--------------+------------------+------------+-------------+
|player_sk|player_id|    player_name|       dob|  batting_hand|     bowling_skill|country_name|batting_style|
+---------+---------+---------------+----------+--------------+------------------+------------+-------------+
|        0|        1|     SC Ganguly|1972-07-08| Left-hand bat|  Right-arm medium|       India|  Left-Handed|
|        1|        2|    BB McCullum|1981-09-27|Right-hand bat|  Right-arm medium| New Zealand| Right-Handed|
|        2|        3|     RT Ponting|1974-12-19|Right-hand bat|  Right-arm medium|   Australia| Right-Handed|
|        3|        4|      DJ Hussey|1977-07-15|Right-hand bat|Right-arm offbreak|   Australia| Right-Handed|
|        4|        5|Mohammad Hafeez|1980-10-17|Right-hand bat|Right-arm offbreak|    Pakistan| Right-Handed|
+---------+---------+---------------+----------+--------------+------------------+------------+-------------+
only showing top 5 rows

In [0]:
#Transformation on player_match_df

# Add a 'veteran_status' column based on player age
player_match_df = player_match_df.withColumn(
                        "veteran_status",
                        when(col("age_as_on_match") >= 35, "Veteran").otherwise("Non-Veteran")
)

#Year since debut column
player_match_df = player_match_df.withColumn(
                                "years_since_debut",
                                (year(current_date()) - col("season_year"))
)

player_match_df.show(5)

+---------------+---------------+--------+---------+-----------+----------+--------------+--------------------+------------+---------+--------------------+--------------------+-----------+----------------+---------------+------------------+--------------+--------------+--------------+---------------+-------------+--------------+--------------+-----------------+
|player_match_sk|playermatch_key|match_id|player_id|player_name|       dob|  batting_hand|       bowling_skill|country_name|role_desc|         player_team|        opposit_team|season_year|is_manofthematch|age_as_on_match|isplayers_team_won|batting_status|bowling_status|player_captain|opposit_captain|player_keeper|opposit_keeper|veteran_status|years_since_debut|
+---------------+---------------+--------+---------+-----------+----------+--------------+--------------------+------------+---------+--------------------+--------------------+-----------+----------------+---------------+------------------+--------------+--------------+--------------+---------------+-------------+--------------+--------------+-----------------+
|             -1|             -1|      -1|       -1|       NULL|      NULL|          NULL|                NULL|        NULL|     NULL|                NULL|                NULL|       NULL|            NULL|           NULL|              NULL|          NULL|          NULL|          NULL|           NULL|         NULL|          NULL|   Non-Veteran|             NULL|
|          12694|           NULL|  335987|        6|   R Dravid|1973-01-11|Right-hand bat|  Right-arm offbreak|       India|  Captain|Royal Challengers...|Kolkata Knight Ri...|       NULL|           false|           NULL|             false|          NULL|          NULL|      R Dravid|     SC Ganguly|   MV Boucher|       WP Saha|   Non-Veteran|             NULL|
|          12695|           NULL|  335987|        7|   W Jaffer|1978-02-16|Right-hand bat|  Right-arm offbreak|       India|   Player|Royal Challengers...|Kolkata Knight Ri...|       NULL|           false|           NULL|             false|          NULL|          NULL|      R Dravid|     SC Ganguly|   MV Boucher|       WP Saha|   Non-Veteran|             NULL|
|          12696|           NULL|  335987|        8|    V Kohli|1988-11-05|Right-hand bat|    Right-arm medium|       India|   Player|Royal Challengers...|Kolkata Knight Ri...|       NULL|           false|           NULL|             false|          NULL|          NULL|      R Dravid|     SC Ganguly|   MV Boucher|       WP Saha|   Non-Veteran|             NULL|
|          12697|           NULL|  335987|        9|  JH Kallis|1975-10-16|Right-hand bat|Right-arm fast-me...|South Africa|   Player|Royal Challengers...|Kolkata Knight Ri...|       NULL|           false|           NULL|             false|          NULL|          NULL|      R Dravid|     SC Ganguly|   MV Boucher|       WP Saha|   Non-Veteran|             NULL|
+---------------+---------------+--------+---------+-----------+----------+--------------+--------------------+------------+---------+--------------------+--------------------+-----------+----------------+---------------+------------------+--------------+--------------+--------------+---------------+-------------+--------------+--------------+-----------------+
only showing top 5 rows

In [0]:
#Working with SparkSQL

#First creating a temp view
ball_by_ball_df.createOrReplaceTempView("ball_by_ball")
match_df.createOrReplaceTempView("match")
team_df.createOrReplaceTempView("team")
player_df.createOrReplaceTempView("player")
player_match_df.createOrReplaceTempView("player_match")

In [0]:
ball_by_ball_df.columns

['match_id',
 'over_id',
 'ball_id',
 'innings_no',
 'team_batting',
 'team_bowling',
 'striker_batting_position',
 'extra_type',
 'runs_scored',
 'extra_runs',
 'wides',
 'legbyes',
 'byes',
 'noballs',
 'penalty',
 'bowler_extras',
 'out_type',
 'caught',
 'bowled',
 'run_out',
 'lbw',
 'retired_hurt',
 'stumped',
 'caught_and_bowled',
 'hit_wicket',
 'obstructingfeild',
 'bowler_wicket',
 'match_date',
 'season',
 'striker',
 'non_striker',
 'bowler',
 'player_out',
 'fielders',
 'striker_match_sk',
 'strikersk',
 'nonstriker_match_sk',
 'nonstriker_sk',
 'fielder_match_sk',
 'fielder_sk',
 'bowler_match_sk',
 'bowler_sk',
 'playerout_match_sk',
 'battingteam_sk',
 'bowlingteam_sk',
 'keeper_catch',
 'player_out_sk',
 'matchdatesk',
 'running_total',
 'high_impact']

In [0]:
top_run_scorers_per_season = spark.sql("""
SELECT
    p.player_name,
    m.season_year,
    SUM(b.runs_scored) AS total_runs
FROM ball_by_ball AS b
JOIN match AS m
    ON b.match_id = m.match_id
JOIN player_match AS pm
    ON pm.match_id = m.match_id AND pm.player_id = b.striker
JOIN player AS p
    ON pm.player_id = p.player_id
GROUP BY p.player_name, m.season_year
ORDER BY m.season_year, total_runs DESC                                    
""")

In [0]:
top_run_scorers_per_season.show(20)

+-------------+-----------+----------+
|  player_name|season_year|total_runs|
+-------------+-----------+----------+
|     SE Marsh|       2008|       616|
|    G Gambhir|       2008|       534|
|ST Jayasuriya|       2008|       514|
|    SR Watson|       2008|       468|
|     GC Smith|       2008|       441|
| AC Gilchrist|       2008|       436|
|    YK Pathan|       2008|       435|
|     SK Raina|       2008|       421|
|     MS Dhoni|       2008|       414|
|     V Sehwag|       2008|       406|
|    RG Sharma|       2008|       404|
|     R Dravid|       2008|       371|
|   SC Ganguly|       2008|       349|
|     S Dhawan|       2008|       340|
|   RV Uthappa|       2008|       320|
|KC Sangakkara|       2008|       320|
|    DJ Hussey|       2008|       319|
|  SA Asnodkar|       2008|       311|
|     PA Patel|       2008|       302|
| Yuvraj Singh|       2008|       299|
+-------------+-----------+----------+
only showing top 20 rows

In [0]:
top_run_scorer_all_time = spark.sql("""
                                    SELECT
                                        p.player_name,
                                        SUM(b.runs_scored) AS total_runs
                                    FROM ball_by_ball AS b
                                    JOIN match AS m
                                        ON b.match_id = m.match_id
                                    JOIN player_match AS pm
                                        ON pm.match_id = m.match_id AND pm.player_id = b.striker
                                    JOIN player AS p
                                        ON pm.player_id = p.player_id
                                    GROUP BY p.player_name
                                    ORDER BY total_runs DESC
                                    """

)

In [0]:
top_run_scorer_all_time.show(10)

+--------------+----------+
|   player_name|total_runs|
+--------------+----------+
|      SK Raina|      4548|
|       V Kohli|      4413|
|     RG Sharma|      4207|
|     G Gambhir|      4132|
|     DA Warner|      4014|
|    RV Uthappa|      3778|
|      CH Gayle|      3647|
|      S Dhawan|      3561|
|      MS Dhoni|      3560|
|AB de Villiers|      3486|
+--------------+----------+
only showing top 10 rows

In [0]:
leading_wicket_taker_per_season = spark.sql("""
                                            SELECT
                                                p.player_name,
                                                m.season_year,
                                                SUM(CAST(b.bowler_wicket AS INT)) AS total_wickets
                                            FROM ball_by_ball AS b
                                            JOIN match AS m
                                                ON b.match_id = m.match_id
                                            JOIN player_match AS pm
                                                ON pm.match_id = m.match_id AND pm.player_id = b.bowler
                                            JOIN player AS p
                                                ON p.player_id = pm.player_id
                                            GROUP BY p.player_name, m.season_year
                                            ORDER BY m.season_year, total_wickets DESC
                                            """
)

In [0]:
leading_wicket_taker_per_season.show(20)

+-------------+-----------+-------------+
|  player_name|season_year|total_wickets|
+-------------+-----------+-------------+
|Sohail Tanvir|       2008|           22|
|     SK Warne|       2008|           19|
|  S Sreesanth|       2008|           19|
|      MS Gony|       2008|           17|
|    JA Morkel|       2008|           17|
|    PP Chawla|       2008|           17|
|    SR Watson|       2008|           17|
|    VY Mahesh|       2008|           16|
|  MF Maharoof|       2008|           15|
|    IK Pathan|       2008|           15|
|     RP Singh|       2008|           15|
|     MM Patel|       2008|           14|
|       Z Khan|       2008|           13|
|   SK Trivedi|       2008|           13|
|     Umar Gul|       2008|           12|
|      A Nehra|       2008|           12|
|   GD McGrath|       2008|           12|
|     A Mishra|       2008|           11|
|     L Balaji|       2008|           11|
|      PP Ojha|       2008|           11|
+-------------+-----------+-------------+
only showing top 20 rows

In [0]:
leading_wicker_taker_all_time = spark.sql("""
                                            SELECT
                                                p.player_name,
                                                SUM(CAST(b.bowler_wicket AS INT)) AS total_wickets
                                            FROM ball_by_ball AS b
                                            JOIN match AS m
                                                ON b.match_id = m.match_id
                                            JOIN player_match AS pm
                                                ON pm.match_id = m.match_id AND pm.player_id = b.bowler
                                            JOIN player AS p
                                                ON p.player_id = pm.player_id
                                            GROUP BY p.player_name
                                            ORDER BY total_wickets DESC
                                          """)

In [0]:
leading_wicker_taker_all_time.show(10)

+---------------+-------------+
|    player_name|total_wickets|
+---------------+-------------+
|     SL Malinga|          154|
|       A Mishra|          134|
|Harbhajan Singh|          127|
|      PP Chawla|          126|
|       DJ Bravo|          122|
|        B Kumar|          111|
|        A Nehra|          106|
|  R Vinay Kumar|          103|
|         Z Khan|          102|
|       R Ashwin|          100|
+---------------+-------------+
only showing top 10 rows

In [0]:
match_df.show()

+--------+--------+--------------------+--------------------+----------+-----------+--------------------+----------+------------+--------------------+--------------------+---------+--------+------------+-------------+----------+----------+----+-----+---+-------------------+-----------------+
|match_sk|match_id|               team1|               team2|match_date|season_year|          venue_name| city_name|country_name|         toss_winner|        match_winner|toss_name|win_type|outcome_type|    manofmach|win_margin|country_id|year|month|day|win_margin_category|toss_match_winner|
+--------+--------+--------------------+--------------------+----------+-----------+--------------------+----------+------------+--------------------+--------------------+---------+--------+------------+-------------+----------+----------+----+-----+---+-------------------+-----------------+
|       0|  335987|Royal Challengers...|Kolkata Knight Ri...|2008-04-18|       2008|M Chinnaswamy Sta...| Bangalore|       India|Royal Challengers...|Kolkata Knight Ri...|    field|    runs|      Result|  BB McCullum|      NULL|         1|2008|    4| 18|                Low|            False|
|       1|  335988|     Kings XI Punjab| Chennai Super Kings|2008-04-19|       2008|Punjab Cricket As...|Chandigarh|       India| Chennai Super Kings| Chennai Super Kings|      bat|    runs|      Result|   MEK Hussey|      NULL|         1|2008|    4| 19|                Low|             True|
|       2|  335989|    Delhi Daredevils|    Rajasthan Royals|2008-04-19|       2008|    Feroz Shah Kotla|     Delhi|       India|    Rajasthan Royals|    Delhi Daredevils|      bat| wickets|      Result|  MF Maharoof|      NULL|         1|2008|    4| 19|                Low|            False|
|       3|  335990|      Mumbai Indians|Royal Challengers...|2008-04-20|       2008|    Wankhede Stadium|    Mumbai|       India|      Mumbai Indians|Royal Challengers...|      bat| wickets|      Result|   MV Boucher|      NULL|         1|2008|    4| 20|                Low|            False|
|       4|  335991|Kolkata Knight Ri...|     Deccan Chargers|2008-04-20|       2008|        Eden Gardens|   Kolkata|       India|     Deccan Chargers|Kolkata Knight Ri...|      bat| wickets|      Result|    DJ Hussey|      NULL|         1|2008|    4| 20|                Low|            False|
|       5|  335992|    Rajasthan Royals|     Kings XI Punjab|2008-04-21|       2008|Sawai Mansingh St...|    Jaipur|       India|     Kings XI Punjab|    Rajasthan Royals|      bat| wickets|      Result|    SR Watson|      NULL|         1|2008|    4| 21|                Low|            False|
|       6|  335993|     Deccan Chargers|    Delhi Daredevils|2008-04-22|       2008|Rajiv Gandhi Inte...| Hyderabad|       India|     Deccan Chargers|    Delhi Daredevils|      bat| wickets|      Result|     V Sehwag|      NULL|         1|2008|    4| 22|                Low|            False|
|       7|  335994| Chennai Super Kings|      Mumbai Indians|2008-04-23|       2008|MA Chidambaram St...|   Chennai|       India|      Mumbai Indians| Chennai Super Kings|    field|    runs|      Result|    ML Hayden|      NULL|         1|2008|    4| 23|                Low|            False|
|       8|  335995|     Deccan Chargers|    Rajasthan Royals|2008-04-24|       2008|Rajiv Gandhi Inte...| Hyderabad|       India|    Rajasthan Royals|    Rajasthan Royals|    field| wickets|      Result|    YK Pathan|      NULL|         1|2008|    4| 24|                Low|             True|
|       9|  335996|     Kings XI Punjab|      Mumbai Indians|2008-04-25|       2008|Punjab Cricket As...|Chandigarh|       India|      Mumbai Indians|     Kings XI Punjab|    field|    runs|      Result|KC Sangakkara|      NULL|         1|2008|    4| 25|                Low|            False|
|      10|  335997|Royal Challengers...|    Rajasthan Royals|2008-04-26|       2008|M Chinnaswamy Sta...| Bangalore|       India|    Rajasthan Royals|    Rajasthan Royals|    field| wickets|      Result|    SR Watson|      NULL|         1|2008|    4| 26|                Low|             True|
|      11|  335998| Chennai Super Kings|Kolkata Knight Ri...|2008-04-26|       2008|MA Chidambaram St...|   Chennai|       India|Kolkata Knight Ri...| Chennai Super Kings|      bat| wickets|      Result|     JDP Oram|      NULL|         1|2008|    4| 26|                Low|            False|
|      12|  335999|      Mumbai Indians|     Deccan Chargers|2008-04-27|       2008|Dr DY Patil Sport...|    Mumbai|       India|     Deccan Chargers|     Deccan Chargers|    field| wickets|      Result| AC Gilchrist|      NULL|         1|2008|    4| 27|                Low|             True|
|      13|  336000|     Kings XI Punjab|    Delhi Daredevils|2008-04-27|       2008|Punjab Cricket As...|Chandigarh|       India|    Delhi Daredevils|     Kings XI Punjab|      bat| wickets|      Result|    SM Katich|      NULL|         1|2008|    4| 27|                Low|            False|
|      14|  336001|Royal Challengers...| Chennai Super Kings|2008-04-28|       2008|M Chinnaswamy Sta...| Bangalore|       India| Chennai Super Kings| Chennai Super Kings|      bat|    runs|      Result|     MS Dhoni|      NULL|         1|2008|    4| 28|                Low|             True|
|      15|  336002|Kolkata Knight Ri...|      Mumbai Indians|2008-04-29|       2008|        Eden Gardens|   Kolkata|       India|Kolkata Knight Ri...|      Mumbai Indians|      bat| wickets|      Result|ST Jayasuriya|      NULL|         1|2008|    4| 29|                Low|            False|
|      16|  336003|    Delhi Daredevils|Royal Challengers...|2008-04-30|       2008|    Feroz Shah Kotla|     Delhi|       India|Royal Challengers...|    Delhi Daredevils|    field|    runs|      Result|   GD McGrath|      NULL|         1|2008|    4| 30|                Low|            False|
|      17|  336004|     Deccan Chargers|     Kings XI Punjab|2008-05-01|       2008|Rajiv Gandhi Inte...| Hyderabad|       India|     Kings XI Punjab|     Kings XI Punjab|    field| wickets|      Result|     SE Marsh|      NULL|         1|2008|    5|  1|                Low|             True|
|      18|  336005|    Rajasthan Royals|Kolkata Knight Ri...|2008-05-01|       2008|Sawai Mansingh St...|    Jaipur|       India|    Rajasthan Royals|    Rajasthan Royals|      bat|    runs|      Result|  SA Asnodkar|      NULL|         1|2008|    5|  1|                Low|             True|
|      19|  336006| Chennai Super Kings|    Delhi Daredevils|2008-05-02|       2008|MA Chidambaram St...|   Chennai|       India| Chennai Super Kings|    Delhi Daredevils|      bat| wickets|      Result|     V Sehwag|      NULL|         1|2008|    5|  2|                Low|            False|
+--------+--------+--------------------+--------------------+----------+-----------+--------------------+----------+------------+--------------------+--------------------+---------+--------+------------+-------------+----------+----------+----+-----+---+-------------------+-----------------+
only showing top 20 rows

In [0]:
#Toss and Match Win by Venue
toss_and_win_by_venue = spark.sql("""
                            SELECT 
                                DISTINCT(venue_name) AS venue,
                                COUNT(match_id) AS total_matches,
                                SUM(
                                    CASE WHEN toss_match_winner = True THEN 1 ELSE 0 END
                                ) AS toss_match_winner_count,
                                ROUND(SUM(CASE WHEN toss_match_winner = True THEN 1 ELSE 0 END)/COUNT(match_id),2) AS toss_match_win_pct  
                            FROM match AS m
                            GROUP BY venue
                            ORDER BY total_matches DESC, toss_match_win_pct DESC
""")

toss_and_win_by_venue.show()

+--------------------+-------------+-----------------------+------------------+
|               venue|total_matches|toss_match_winner_count|toss_match_win_pct|
+--------------------+-------------+-----------------------+------------------+
|M Chinnaswamy Sta...|           66|                     36|              0.55|
|        Eden Gardens|           61|                     34|              0.56|
|    Feroz Shah Kotla|           60|                     31|              0.52|
|    Wankhede Stadium|           57|                     27|              0.47|
|MA Chidambaram St...|           48|                     25|              0.52|
|Rajiv Gandhi Inte...|           41|                     14|              0.34|
|Punjab Cricket As...|           35|                     16|              0.46|
|Sawai Mansingh St...|           33|                     15|              0.45|
|Dr DY Patil Sport...|           17|                      9|              0.53|
|Subrata Roy Sahar...|           17|                      9|              0.53|
|Maharashtra Crick...|           15|                      9|               0.6|
|           Kingsmead|           15|                      9|               0.6|
|     SuperSport Park|           12|                      8|              0.67|
|Sardar Patel Stad...|           12|                      6|               0.5|
|   Brabourne Stadium|           11|                      7|              0.64|
|Dr. Y.S. Rajasekh...|           11|                      4|              0.36|
|Saurashtra Cricke...|           10|                      4|               0.4|
|Himachal Pradesh ...|            9|                      5|              0.56|
|Rajiv Gandhi Inte...|            8|                      3|              0.38|
|New Wanderers Sta...|            8|                      3|              0.38|
+--------------------+-------------+-----------------------+------------------+
only showing top 20 rows

In [0]:
#Type of Win by Venue
type_of_wins_by_venue = spark.sql("""
                                  SELECT
                                      DISTINCT(venue_name) AS venue,
                                      COUNT(match_id) AS total_matches,
                                      SUM(
                                          CASE WHEN win_type = 'runs' THEN 1 ELSE 0 END
                                      ) AS first_bat_win_count,
                                      ROUND(SUM(CASE WHEN win_type = 'runs' THEN 1 ELSE 0 END)/COUNT(match_id),2) AS first_bat_win_pct,
                                      SUM(
                                          CASE WHEN win_type = 'wickets' THEN 1 ELSE 0 END
                                          ) AS chase_win_count,
                                      ROUND(SUM(CASE WHEN win_type = 'wickets' THEN 1 ELSE 0 END)/COUNT(match_id),2) AS chase_win_pct
                                  FROM match
                                  GROUP BY venue
                                  ORDER BY total_matches DESC
                                  """)
type_of_wins_by_venue.show()

+--------------------+-------------+-------------------+-----------------+---------------+-------------+
|               venue|total_matches|first_bat_win_count|first_bat_win_pct|chase_win_count|chase_win_pct|
+--------------------+-------------+-------------------+-----------------+---------------+-------------+
|M Chinnaswamy Sta...|           66|                 27|             0.41|             36|         0.55|
|        Eden Gardens|           61|                 25|             0.41|             36|         0.59|
|    Feroz Shah Kotla|           60|                 28|             0.47|             31|         0.52|
|    Wankhede Stadium|           57|                 29|             0.51|             28|         0.49|
|MA Chidambaram St...|           48|                 30|             0.63|             17|         0.35|
|Rajiv Gandhi Inte...|           41|                 14|             0.34|             26|         0.63|
|Punjab Cricket As...|           35|                 15|             0.43|             20|         0.57|
|Sawai Mansingh St...|           33|                 10|              0.3|             23|          0.7|
|Dr DY Patil Sport...|           17|                  7|             0.41|             10|         0.59|
|Subrata Roy Sahar...|           17|                 11|             0.65|              6|         0.35|
|Maharashtra Crick...|           15|                  5|             0.33|             10|         0.67|
|           Kingsmead|           15|                  9|              0.6|              6|          0.4|
|Sardar Patel Stad...|           12|                  6|              0.5|              5|         0.42|
|     SuperSport Park|           12|                  4|             0.33|              8|         0.67|
|   Brabourne Stadium|           11|                  6|             0.55|              5|         0.45|
|Dr. Y.S. Rajasekh...|           11|                  7|             0.64|              4|         0.36|
|Saurashtra Cricke...|           10|                  3|              0.3|              6|          0.6|
|Himachal Pradesh ...|            9|                  5|             0.56|              4|         0.44|
|Rajiv Gandhi Inte...|            8|                  5|             0.63|              2|         0.25|
|New Wanderers Sta...|            8|                  3|             0.38|              5|         0.63|
+--------------------+-------------+-------------------+-----------------+---------------+-------------+
only showing top 20 rows

In [0]:
team_df.columns

['team_sk', 'team_id', 'team_name']

In [0]:
#Toss and Match Win By Team
toss_and_win_by_team = spark.sql("""
                            SELECT  
                                t.team_name AS team,
                                COUNT(m.match_id) AS total_matches,
                                SUM(
                                    CASE WHEN t.team_name = m.match_winner THEN 1 ELSE 0 END
                                ) AS match_wins,
                                SUM(
                                    CASE WHEN t.team_name = m.toss_winner THEN 1 ELSE 0 END
                                ) AS toss_wins,
                                SUM(
                                    CASE WHEN t.team_name = m.toss_winner AND t.team_name = m.match_winner THEN 1 ELSE 0 END
                                ) AS toss_match_win,
                                ROUND(
                                    SUM(CASE WHEN t.team_name = m.match_winner THEN 1 ELSE 0 END)/ COUNT(m.match_id), 2
                                ) AS win_pct,
                                ROUND(SUM(
                                    CASE WHEN t.team_name = m.toss_winner AND t.team_name = m.match_winner THEN 1 ELSE 0 END)
                                / SUM(
                                    CASE WHEN t.team_name = m.match_winner THEN 1 ELSE 0 END),2) AS toss_match_win_pct
                            FROM match AS m
                            JOIN team AS t
                                ON m.team1 = t.team_name OR m.team2 = t.team_name
                            GROUP BY t.team_name
                            ORDER BY toss_match_win_pct DESC, win_pct DESC
""")

toss_and_win_by_team.show()

+--------------------+-------------+----------+---------+--------------+-------+------------------+
|                team|total_matches|match_wins|toss_wins|toss_match_win|win_pct|toss_match_win_pct|
+--------------------+-------------+----------+---------+--------------+-------+------------------+
|       Gujarat Lions|           30|        13|       15|            10|   0.43|              0.77|
|Kochi Tuskers Kerala|           14|         6|        8|             4|   0.43|              0.67|
|     Deccan Chargers|           75|        29|       43|            19|   0.39|              0.66|
|Kolkata Knight Ri...|          148|        77|       78|            44|   0.52|              0.57|
|    Rajasthan Royals|          118|        63|       63|            34|   0.53|              0.54|
| Chennai Super Kings|          131|        79|       66|            42|    0.6|              0.53|
|      Mumbai Indians|          157|        91|       85|            48|   0.58|              0.53|
|    Delhi Daredevils|          147|        62|       72|            33|   0.42|              0.53|
|Royal Challengers...|          153|        73|       70|            35|   0.48|              0.48|
|Rising Pune Super...|           30|        15|       12|             7|    0.5|              0.47|
| Sunrisers Hyderabad|           77|        42|       35|            17|   0.55|               0.4|
|     Kings XI Punjab|          148|        70|       68|            28|   0.47|               0.4|
|       Pune Warriors|           46|        12|       20|             3|   0.26|              0.25|
+--------------------+-------------+----------+---------+--------------+-------+------------------+